* {
  margin: 0;
  padding: 0;
}

.firstLink {
  font-family: Montserrat;
  color: rgb(233, 233, 233);
  text-decoration: none;
  padding-top: 3%;
  font-size: 18px;
}

.firstLink:hover {
  text-decoration: underline;
  opacity: 90%;
}

.otherLink {
  font-family: Montserrat;
  color: rgb(233, 233, 233);
  text-decoration: none;
  padding: 2px;
  font-size: 18px;
}

.otherLink:hover {
  text-decoration: underline;
  opacity: 90%;
}
