* {
  margin: 0;
  padding: 0;
}

.firstFile {
  font-family: Montserrat;
  color: rgb(233, 233, 233);
  text-decoration: none;
  padding-top: 3%;
  font-size: 18px;
}

.firstFile:hover {
  text-decoration: underline;
  opacity: 90%;
}

.otherFile {
  font-family: Montserrat;
  color: rgb(233, 233, 233);
  text-decoration: none;
  padding-top: 1px;
  font-size: 18px;
}

.otherFile:hover {
  text-decoration: underline;
  opacity: 90%;
}