* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* btn */
.button31 {
    margin-top: 3%;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    max-width: none;
    height: 44px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
  }
  .button31:active {
    opacity: .75;
  }

.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    margin-top: 2%;
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--var-body-fc-invert);
    border: 2px solid var(--var-body-fc);
    font-family: Montserrat;
    color: var(--var-body-fc);
}
