* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.inputBox {
    margin-top: 3%;
}
.inputBox input {
    color: var(--var-body-fc);
    position: relative;
    width: 30%;
    height: 60%;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    text-align: center;
}

.warning {
  padding-top: 6%;
  font-family: Montserrat;
  color: var(--var-body-fc);
  font-size: 17px;
}
/* btn */
.button48 {
    width: 550px;
    appearance: none;
    background-color: var(--var-body-fc-invert);
    border-width: 0;
    box-sizing: border-box;
    color: var(--var-body-fc);
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: var(--var-body-fc);
    opacity: 0.3;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
  }
  
  .button48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button48:after {
    background-color: #FFFFFF;
  }
  
  .button48 span {
    z-index: 1;
    position: relative;
  }